:root {
  --pink: #DE6F90;
  --pinky: #EFAFB9;
  --lightPink: #F8DBDF;
  --pinkOpacity: #EFAFB9;
  --green: #7C9851;
  --mutedColor: #E8E8E8;

}

.main-content{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: white;
  padding: 0 2rem;
}

.appBar {
  background-color: var(--lightPink);
  height: 40px;
  align-items: center;
  vertical-align: middle;
}

.appToolbar, .MuiToolbar-root{
  min-height: 40px !important;
}

@media (min-width: 768px) {
  
  .content{
    width: 450px !important;
    background-color: red !important;
  }
}